.group {
    position: relative;
    background-color: transparent;
}

.input {
    background: transparent;
    min-height: 44px;
    width: 100%;
    color: var(--gray-blue);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    padding: 10px 16px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    transition: all .3s ease;
}

.label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #C0C0C0;

    position: absolute;
    left: 30px;
    top: 12px;
    transition: all .3s ease;
    pointer-events: none;
}

.label {
    cursor: text;
}

.input::placeholder {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #C0C0C0;
}

.input:focus~.label,
.input:not(:placeholder-shown)~.label {
    padding: 0 3px;
    background: var(--white);
    font-size: 16px;
    z-index: 1;
    color: black;
    top: -16px;
}

input:focus {
    outline: 1px solid var(--blue-itsupport);
}

.input:focus {
    border: 1px solid var(--blue-itsupport);
}

.input:hover:not(:focus) {
    border: 1px solid var(--gray-blue);
}