.button{
    background-color: var(--bg-yellow);
    padding: 10px 20px;
    color: var(--font-white);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.button:active{
    outline: 0;
    border: 0;
}