.menu {
    position: relative;
    width: max-content;
    
}

.list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%;
    gap: 10px;

}

.item {
    display: block;
}

.list,
.item {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-wrap: nowrap;
}

.button {
    background: var(--accent);
    color: var(--background);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    align-items: center;
}